<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title> Upload Base64</title>
    </head>
    <body>
        <pre>
            <form action="/api/upload" method="POST" enctype="application/x-www-form-urlenconded">
                FileName:
                <input name="fileName" type="text" />
                Base64:
                <textarea name="base64" type="textarea" cols="60" rows="10"></textarea>
                <!-- Botãoo de submit-->
                <input type="submit" value="Enviar arquivo" />
            </form>
        </pre>
    </body>
</html>